<section class="snap-section" id="download">
    <div class="container text-center flex-grow-1 d-flex flex-column justify-content-center">
        <h2 class="display-4 fw-black mb-3 text-white">¿Listo para derretirte?</h2>
        <p class="lead mb-5 text-white-50">Descarga Cheese hoy mismo y empieza a conectar.</p>
        <div>
            <button class="btn btn-cheese btn-lg px-5" (click)="downloadVirus()">Descargar Ahora</button>
        </div>
    </div>
    <app-footer class="w-100"></app-footer>
</section>